<!-- File Name: bottom_nav.ejs
     Student Name: Marco Favaretto
     Student ID: 301186334
     Date: 09/30/2022 -->

  <!-- Bottom Nav -->
  <footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <div class="container-fluid">
        <h6 class="navbar-text">Copyright &copy; 2022. All Rights reserved.</h6>
        <a class="navbar-text ms-auto" aria-current="page" href="https://www.linkedin.com/in/favarettomarco/"><i class="fa-brands fa-xl fa-linkedin" style="padding-right: 10px;"></i></a>
        <a class="navbar-text" aria-current="page" href="https://www.instagram.com/marco.fava76/"><i class="fa-brands fa-xl fa-square-instagram" style="padding-right: 10px;"></i></a>
        <a class="navbar-text" aria-current="page" href="mailto:mfavaret@my.centennialcollege.ca"><i class="fa-solid fa-xl fa-envelope" style="padding-right: 10px;"></i></a>
      </div>
    </nav>
  </footer>