<!--  File Name: footer.ejs
      Student Name: Marco Favaretto
      Student ID: 301186334
      Date: 09/30/2022 -->

    <!-- Script Section -->
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Scripts/app.js"></script>
</body>
</html>