<!-- File Name: about_container.ejs
     Student Name: Marco Favaretto
     Student ID: 301186334
     Date: 09/30/2022 -->

  <!-- Main Container -->
  <main class="container">
    <div class="p-5 mb-4" style="padding-top: 10px!important;">
      <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">Welcome to my <%= title %> page.</h1>
          <p class="col-md-8 fs-4 float-start" style="padding-top: 30px;">My name is Marco Favaretto, I come from Venice, Italy. This is my third semester at Centennial College and I am enrolled in the Software Engineering Technology Artificial Intelligence program.</p>
          <p class="col-md-8 fs-4 float-start">My programming knowledge includes:</p>
          <ul class="col-md-8 fs-4 float-start">
            <li>C# programming</li>
            <li>Python for data analytics</li>
            <li>Java</li>
            <li>HTML/CSS</li>
            <li>JavaScripts</li>
          </ul>
          <p class="col-md-8 fs-4 float-start">Click
            <a href="/Assets/pdf/Resume.pdf" style="padding-bottom: 30px;"> here</a>
            to open my resume PDF file.
          </p>
          <img class="rounded float-right" src="/Assets/images/MyProfile.jpg" alt="my picture" width="20%" height="20%" style="padding-top: 70px;"/>
      </div>
    </div>
  </main>