<!-- File Name: home_content.ejs
     Student Name: Marco Favaretto
     Student ID: 301186334
     Date: 09/30/2022 -->

  <!-- Main Container -->
  <main class="container">
    <div class="p-5 mb-4" style="padding-top: 10px!important;">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Welcome to my <%= title %> page</h1>
        <p class="col-md-8 fs-4" style="padding-top: 30px;">Hi, I'm Marco thank you for visiting my digital portfolio, you can browse my website by simply clicking on the links in the navigation bar, or if you want to know more about me, click now on the button below.</p>
        <p class="col-md-8 fs-4" style="padding-top: 20px;">
        <button class="btn btn-primary btn-lg" type="button" onclick="location.href = '/about';">About Me</button>
        </p>
        <p class="col-md-8 fs-4" style="padding-top: 20px;">I love challenges and solving problems, I aim for perfection in all my projects, even if perfection is an unattainable goal that pushes you to improve yourself.</p>
      </div>
    </div>
  </main>