<!-- File Name: projects_content.ejs
     Student Name: Marco Favaretto
     Student ID: 301186334
     Date: 09/30/2022 -->

  <!-- Main Container -->
  <main class="container">
    <div class="p-5 mb-4" style="padding-top: 10px!important;">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Welcome to my <%= title %> page</h1>
        <p class="col-md-8 fs-4 float-start" style="padding-top: 10px;">Follows some of my projects:</p>
          <ul class="col-md-8 fs-4 float-start" style="padding-top: 5px; padding-bottom: 40px;">
            <li style="display: flex; justify-content: space-between;">
              <img class="rounded float-start" src="/Assets/images/sap.png" width="25%" height="25%" style="margin-top:10px;">
              <p class="float-right" style="padding-left:20px;">Research, plan and coordinate blueprint for the organization’s implementation of new Enterprise Resource Planning (ERP) system, SAP Business One.</p>
            </li>
            <li style="display: flex; justify-content: space-between;" style="padding-top: 30px;">
              <img class="rounded float-start" src="/Assets/images/bi.png" width="25%" height="25%" style="margin-top:10px;">
              <p class="float-right" style="padding-left:20px;">Develop software to interface and extract BI information from ERP solutions with the use of C#, WPF, ASP.NET, and MS-SQL.</p>
            </li>
            <li style="display: flex; justify-content: space-between;" style="padding-top: 30px;">
              <img class="rounded float-start" src="/Assets/images/srs.png" width="25%" height="25%" style="margin-top:10px;">
              <p class="float-right" style="padding-left:20px;">Drafting of the SRS document for the COMP246 group project, to identify a problem/opportunity for which it is possible to develop a software system.</p>
            </li>
          </ul>
      </div>
    </div>
  </main>