/* File Name: app.css
   Student Name: Marco Favaretto
   Student ID: 301186334
   Date: 09/30/2022 */

/* Custom CSS goes here */
.menuitem {
  text-decoration: none;
  color: #c7c8c9;
  font-size:18px;
  position: relative;
  transition: 0.8s all linear;
  padding: 5px 10px;
}

.menuitem.active {
  color: #fff;
}

.menuitem:hover {
  color: #fff;
}

.menuitem::before {
  position: absolute;
  content: '';
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  background-color: #54c1be;
  /* z-index: -1; */
}

.menuitem:hover::before {
  animation: ani 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

@keyframes ani {
  0% {
    width: 0%;
    height: 2px;
    left: 50%;
  }

  50% {
    width: 100%;
    height: 2px;
    left: 0;
  }

  100% {
    width: 100%;
    /* height: 100%; */
    height: 2px;
    left: 0;
  }
}